
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 32.850391, lng: -117.249797},
          zoom: 11
        });

// # for asset in pedestrian_assets:

// # for asset in traffic_assets:
// #     lat, lng = map(float, asset['coordinates'].split(':'))
// #     marker_code = '\tvar marker = new google.maps.Marker({position: {lat: %.6f, lng: %.6f}, map: map, icon: {url: \'%s\'}});\n' % (lat, lng, icon)
// #     html += marker_code

// # icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
// # for asset in pedestrian_assets:
// #     lat, lng = map(float, asset['coordinates'].split(':'))
// #     marker_code = '\tvar marker = new google.maps.Marker({position: {lat: %.6f, lng: %.6f}, map: map, icon: {url: \'%s\'}});\n' % (lat, lng, icon)
// #     html += marker_code

// icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
// for asset in environmental_assets:
//     lat, lng = map(float, asset['coordinates'].split(':'))
//     marker_code = '\tvar marker = new google.maps.Marker({position: {lat: %.6f, lng: %.6f}, map: map, icon: {url: \'%s\'}});\n' % (lat, lng, icon)
//     html += marker_code

// # icon = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
// # for asset in parking_assets:
// #     lat, lng = map(float, asset['coordinates'].split(':'))
// #     marker_code = '\tvar marker = new google.maps.Marker({position: {lat: %.6f, lng: %.6f}, map: map, icon: {url: \'%s\'}});\n' % (lat, lng, icon)
// #     html += marker_code

    
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ token }}&libraries=visualization&callback=initMap"
    async defer></script>
  </body>
</html>
